@model Puutarha.Models.Satotiedot

@{
    ViewData["Title"] = "Delete";
}



<h3>Haluatko varmasti poistaa tämän satotiedon?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatoPvm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatoPvm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lämpötila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lämpötila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Määrä)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Määrä)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yksikkö)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yksikkö)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lisätieto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lisätieto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kasvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kasvi.Nimi)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SatoId" />
        <input type="submit" value="Poista" class="btn btn-danger" /> |
        <a asp-action="Index">Palaa listaukseen</a>
    </form>
</div>
