@model IEnumerable<Puutarha.Models.Satotiedot>

@{
    ViewData["Title"] = "Lista satotiedoista";
}

<h3>Listaus satotiedoista</h3>

<p>
    <a asp-action="Create">Lisää uusi satotieto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SatoPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lämpötila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Määrä)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yksikkö)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisätieto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kasvi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SatoPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lämpötila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Määrä)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yksikkö)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisätieto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kasvi.Nimi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SatoId">Muokkaa</a> |
                <a asp-action="Details" asp-route-id="@item.SatoId">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.SatoId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
