@model IEnumerable<Puutarha.Models.Istutukset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="tbl_background_white">
            <th>
                @Html.DisplayNameFor(model => model.IstutusPvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Määrä)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yksikkö)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Istutuspaikka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lämpötila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisätieto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poistettu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poistopvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kasvi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IstutusPvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Määrä)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yksikkö)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Istutuspaikka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lämpötila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisätieto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poistettu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poistopvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kasvi.Nimi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IstutusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IstutusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IstutusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
