@model Puutarha.Models.Kasvit

@{
    ViewData["Title"] = "Poista kasvitieto";
}

<h3>Poista kasvin tiedot</h3>

<h3>Haluatko varmasti poistaa nämä tiedot?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lajike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lajike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieteellinenNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieteellinenNimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monivuotinen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monivuotinen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hyötykasvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hyötykasvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poistettu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poistettu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KasviId" />
        <input type="submit" value="Poista" class="btn btn-danger" /> |
        <a asp-action="Index">Palaa listaukseen</a>
    </form>
</div>
